body{

	background-color: ##CBAC85;
}

.login-box{
	background-color: #BCAAA4;
	padding: 15px;
	margin-left: 33%;
	margin-top: 10%;

}
.center{
	text-align: center;
}

.logo{
	width: 30%;
	height: 30%;

}

.btn-default {
    color: #fff;
    font-weight: bold;
    background-color: #5D4037;
    border-color: #6D4C41;
}
.btn-default:hover {
    background-color: #8D6E63;
    border-color: #8D6E63;
}
.btn-default:focus {
    background-color: #8D6E63;
    border-color: #8D6E63;
}
.btn-default:active {
    background-color: #3E2723;
    border-color: #3E2723;
}

.shop-list{
	margin: 20px;
}
.shop-detail{
	float: left;
	width: 300px;
	height: 150px;
}
.shop-detail a{
	text-decoration: none;
	color: black;
}

.nav-default{
	border-color: none;
}
.shop-btn-menu{
	margin: 10px;
	padding: 10px;
}
.btn-shop{
	float: right;
}
.dashboard-title{
	float: left;
	width: 250px;
	height: 150px;
}
.shop-dashboard-pils{
	margin-left: 150px;
	margin-top: 10px;
}
.body-index{

}
.img-square{
	width: 140px;
	height: 140px;
}
.navbar{
	background-color: #5D4037;
	color: #fff;
}
.navbar-inverse{
	border-color: #08080800;
}
.navbar-inverse .navbar-brand{
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a{
	color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #894b38;
}
.navbar-nav > li > .dropdown-menu{
	background-color: #5D4037;

}
.dropdown-menu > li > a{
	color: #fff;
}
